In [1]:
import pandas as pd

df_data = pd.read_excel("../data_to_work_dm_12042022/180110 data FONDECYT_iniciacion (1).xlsx")
df_data

,N°_diada,BienestarV1,BienestarV2,BienestarAv,Fecha_entrevista,Hora_inicio,Hora_termino,Observador_1,Nombre_bebé,Apellido1_bebé,...,ads_a_i_pv_2,ads_m_i_pv_2_r,ads_v_i_pv_r,ads_ta_i_pv_2_r,ads_sa_i_pv_r,ads_a_i_pv_2_r,ads_p_i_pv_r,countinsecurei_2020,countsecurei_2020,ADS2i_2020
0,1,5.0,4.0,4.5,2016-02-01,1900-01-02 17:50:30,1900-01-02 19:31:30,2,Maximiliano,Cárdenas,...,3.0,0.0,1.0,0.0,1.0,1.0,0.0,3,3,0
1,4,NaN,NaN,NaN,2016-02-24,1900-01-02 19:21:30,1900-01-02 20:31:30,2,Martín,Pérez,...,4.0,0.0,1.0,0.0,1.0,1.0,0.0,3,3,0
2,7,4.0,4.0,4.0,2016-03-01,1900-01-02 15:31:30,1900-01-02 16:46:30,2,Jasna,Mansilla,...,3.0,0.0,1.0,0.0,0.0,1.0,0.0,4,2,0
3,11,4.0,4.0,4.0,2016-02-01,1900-01-02 12:11:30,1900-01-02 13:16:30,1,Jhampiere,Largacha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999,999,999
4,12,3.0,5.0,4.0,2016-02-01,1900-01-02 17:01:30,1900-01-02 18:01:30,1,Antonella,Melián,...,2.0,0.0,1.0,0.0,0.0,0.0,1.0,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,56,4.0,4.0,4.0,2016-03-07,1900-01-02 15:01:30,1900-01-02 16:01:30,2,Genaro,Carrasco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999,999,999
62,58,4.0,4.0,4.0,2016-03-09,1900-01-02 16:01:30,1900-01-02 17:01:30,2,Luis,Matamala,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999,999,999
63,59,5.0,4.0,4.5,2016-03-08,1900-01-02 17:31:30,1900-01-02 18:51:30,3,Alen,Zek,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999,999,999
64,61,NaN,NaN,NaN,2016-03-09,1900-01-02 13:51:30,1900-01-02 15:01:30,3,Santiago,Montenegro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999,999,999
65,64,NaN,NaN,NaN,2016-04-08,1900-01-02 17:01:30,1900-01-02 18:01:30,1,Martín,Pérez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999,999,999

In [2]:
matrix_data = []

for column in df_data.columns:
    count_null = df_data[column].isna().sum()
    percentage = count_null/len(df_data)*100
    row = [column, count_null, percentage]
    matrix_data.append(row)

df_summary = pd.DataFrame(matrix_data, columns=['columna', 'count', 'percentage'])
df_summary = df_summary.sort_values(by=['percentage'], ascending=False)
df_summary.to_csv("../preliminar_results/analysis_data_fondecyt/summary_null.csv", index=False)

In [3]:
df_data.describe()

,N°_diada,BienestarV1,BienestarV2,BienestarAv,Observador_1,Género_bebé,Edad_bebé_1,Etnia_bebé,Grupo_étnico_bebé,Cuidado_alt_previo,...,ads_a_i_pv_2,ads_m_i_pv_2_r,ads_v_i_pv_r,ads_ta_i_pv_2_r,ads_sa_i_pv_r,ads_a_i_pv_2_r,ads_p_i_pv_r,countinsecurei_2020,countsecurei_2020,ADS2i_2020
count,66.000000,44.000000,44.000000,44.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,...,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,66.000000,66.000000,66.000000
mean,33.500000,4.181818,4.045455,4.113636,2.181818,0.515152,9.439394,0.333333,1.515152,0.075758,...,3.294118,0.235294,0.764706,0.147059,6.470588,0.852941,12.029412,485.803030,485.924242,484.606061
std,19.196354,0.691232,0.480046,0.442819,0.875462,0.503600,2.637766,0.475017,2.380966,0.266638,...,0.718981,0.430562,0.430562,0.359491,23.484663,0.359491,32.238209,501.690441,501.571877,502.859634
min,1.000000,3.000000,3.000000,3.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.250000,4.000000,4.000000,4.000000,1.000000,0.000000,8.000000,0.000000,0.000000,0.000000,...,3.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,2.250000,3.000000,0.000000
50%,33.500000,4.000000,4.000000,4.000000,2.000000,1.000000,10.000000,0.000000,0.000000,0.000000,...,3.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.500000,6.000000,5.500000,1.000000
75%,49.750000,5.000000,4.000000,4.500000,3.000000,1.000000,11.000000,1.000000,4.000000,0.000000,...,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,999.000000,999.000000,999.000000
max,66.000000,6.000000,5.000000,5.000000,3.000000,1.000000,15.000000,1.000000,10.000000,1.000000,...,4.000000,1.000000,1.000000,1.000000,99.000000,1.000000,99.000000,999.000000,999.000000,999.000000

In [4]:
df_summary

                      columna  count  percentage
110  relative_12_ethnic_group     66       100.0
112    relative_13_date_birth     66       100.0
48        Familiar2_EstadoCiv     66       100.0
49        Familiar2_Ocupación     66       100.0
50      Familiar2_GrupoEtnico     66       100.0
..                        ...    ...         ...
174                     BSI_4      0         0.0
173                     BSI_3      0         0.0
172                     BSI_2      0         0.0
171                     BSI_1      0         0.0
456                ADS2i_2020      0         0.0

[457 rows x 3 columns]