- Handling warnings

In [88]:
import warnings
warnings.filterwarnings("ignore")

- Loading modules

In [89]:
import pandas as pd
import numpy as np
import json

- Implementation of Auxiliar functions

In [90]:
def get_average_measure(morning_d1, morning_d2):

    if not pd.isna(morning_d1) and not pd.isna(morning_d2):
        average_morning = np.mean([morning_d1, morning_d2])
    elif not pd.isna(morning_d1):
        average_morning = morning_d1
    elif not pd.isna(morning_d2):
        average_morning = morning_d2
    else:
        average_morning = np.nan
    
    return average_morning

In [91]:
def get_average_difference(row):
    diffs = [] 

    if pd.notna(row['IgA D1-Afternoon']) and pd.notna(row['IgA D1-Morning']):
        diffs.append(row['IgA D1-Afternoon'] - row['IgA D1-Morning'])
    if pd.notna(row['IgA D2-Afternoon']) and pd.notna(row['IgA D2-Morning']):
        diffs.append(row['IgA D2-Afternoon'] - row['IgA D2-Morning'])
    
    if len(diffs) > 0:
        return np.mean(diffs)
    else:
        return np.nan

- Reading raw data

In [92]:
df_data = pd.read_csv("../raw_data/sIgA_data/updated_data_with_non_missing_values.csv")
df_data.head(5)

,m1,m2,m3,m4,N°_diada,BienestarV1,BienestarV2,BienestarAv,Género_bebé,Edad_bebé_1,...,ads_m_i_pv_2_r,ads_v_i_pv_r,ads_ta_i_pv_2_r,ads_sa_i_pv_r,ads_a_i_pv_2_r,ads_p_i_pv_r,countinsecurei_2020,countsecurei_2020,ADS2i_2020,is_missing
0,20.076728,31.719207,23.453752,25.016903,1,5.0,4.0,4.5,1,5,...,0.0,1.0,0.0,1.0,1.0,0.0,3,3,0,False
1,28.584920,82.400761,28.361209,19.363161,4,NaN,NaN,NaN,1,10,...,0.0,1.0,0.0,1.0,1.0,0.0,3,3,0,False
2,161.424693,46.867951,NaN,NaN,5,NaN,NaN,NaN,0,5,...,0.0,1.0,0.0,1.0,1.0,0.0,3,3,0,False
3,26.747838,NaN,21.599136,35.942378,7,4.0,4.0,4.0,0,12,...,0.0,1.0,0.0,0.0,1.0,0.0,4,2,0,False
4,118.901337,NaN,37.125222,382.715268,11,4.0,4.0,4.0,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,999,999,999,True

- Defining columns to use

In [93]:
columns_to_use = ["N°_diada", 'm1','m2','m3','m4', 'Género_bebé', 
                  "Edad_bebé_1", "Edad_bebé_2", "Edad_bebé_5",
                  "Apego_dic_SSP"]

- Selecting data from raw dataset

In [94]:
data_selection = df_data[columns_to_use]
data_selection.head(5)

,N°_diada,m1,m2,m3,m4,Género_bebé,Edad_bebé_1,Edad_bebé_2,Edad_bebé_5,Apego_dic_SSP
0,1,20.076728,31.719207,23.453752,25.016903,1,5,7.0,15.0,0.0
1,4,28.584920,82.400761,28.361209,19.363161,1,10,10.0,16.0,1.0
2,5,161.424693,46.867951,NaN,NaN,0,5,NaN,14.0,1.0
3,7,26.747838,NaN,21.599136,35.942378,0,12,12.0,18.0,0.0
4,11,118.901337,NaN,37.125222,382.715268,1,8,9.0,NaN,0.0

In [95]:
data_selection.describe()

,N°_diada,m1,m2,m3,m4,Género_bebé,Edad_bebé_1,Edad_bebé_2,Edad_bebé_5,Apego_dic_SSP
count,35.000000,34.000000,33.000000,33.000000,31.000000,35.000000,35.000000,33.000000,27.000000,35.00000
mean,32.514286,39.749421,47.213491,39.006348,52.728307,0.428571,9.171429,9.909091,16.777778,0.60000
std,19.977004,33.131772,40.643065,30.887710,69.814661,0.502096,2.572315,2.982906,2.118296,0.49705
min,1.000000,12.355559,16.153182,13.673068,14.171518,0.000000,3.000000,1.000000,14.000000,0.00000
25%,16.500000,19.675529,25.069658,21.599136,23.050122,0.000000,7.500000,9.000000,15.000000,0.00000
50%,29.000000,26.176578,33.351733,27.672851,31.248332,0.000000,9.000000,10.000000,16.000000,1.00000
75%,51.500000,53.014421,55.793223,37.125222,45.822756,1.000000,11.000000,12.000000,18.000000,1.00000
max,66.000000,161.424693,224.737565,156.480231,382.715268,1.000000,14.000000,15.000000,21.000000,1.00000

- Change name columns

In [96]:
data_selection.columns = ["ID", 'IgA D1-Morning', 'IgA D1-Afternoon', 
                          'IgA D2-Morning', 'IgA D2-Afternoon', 'Gender', 
                          "age_baby_1", "age_baby_2", "age_baby_5", 'Attachment']
data_selection.head(5)

,ID,IgA D1-Morning,IgA D1-Afternoon,IgA D2-Morning,IgA D2-Afternoon,Gender,age_baby_1,age_baby_2,age_baby_5,Attachment
0,1,20.076728,31.719207,23.453752,25.016903,1,5,7.0,15.0,0.0
1,4,28.584920,82.400761,28.361209,19.363161,1,10,10.0,16.0,1.0
2,5,161.424693,46.867951,NaN,NaN,0,5,NaN,14.0,1.0
3,7,26.747838,NaN,21.599136,35.942378,0,12,12.0,18.0,0.0
4,11,118.901337,NaN,37.125222,382.715268,1,8,9.0,NaN,0.0

- Get average morning and afternoon

In [97]:
data_selection["sIgA_Average_Morning"] = data_selection.apply(
    lambda row: get_average_measure(row["IgA D1-Morning"], row["IgA D2-Morning"]),
    axis=1
)

In [98]:
data_selection["sIgA_Average_Afternoon"] = data_selection.apply(
    lambda row: get_average_measure(row["IgA D1-Afternoon"], row["IgA D2-Afternoon"]),
    axis=1
)

- Get average differences

In [99]:
data_selection["sIgA_Average_Difference"] = data_selection.apply(get_average_difference, axis=1)

- Remove non necessary columns

In [100]:
data_selection = data_selection[['ID', 'Gender', "age_baby_1", "age_baby_2", "age_baby_5", 'sIgA_Average_Morning', 
                                 'sIgA_Average_Afternoon', 'sIgA_Average_Difference', 
                                 'Attachment', 'IgA D1-Morning', 'IgA D1-Afternoon', 
                          'IgA D2-Morning', 'IgA D2-Afternoon']]

- Working with Gender

In [101]:
with open("../raw_data/sIgA_data/desc_columns.json", 'r') as doc_open:
    definitions_variables_doc = json.load(doc_open)

In [102]:
definitions_variables_doc[1]['Género_bebé']

[{'nominal_value': '0', 'description': 'Femenino'},
 {'nominal_value': '1', 'description': 'Masculino'}]

In [103]:
data_selection["Gender"] = data_selection["Gender"].replace({1: 'Male', 0: 'Female'})
data_selection["Gender"].value_counts()

Gender
Female    20
Male      15
Name: count, dtype: int64

- Checking attachment

In [104]:
data_selection["Attachment"].value_counts()

Attachment
1.0    21
0.0    14
Name: count, dtype: int64

In [105]:
for index in range(len(definitions_variables_doc)):
    keys = list(definitions_variables_doc[index].keys())
    if keys[0] == "Apego_dic_SSP":
        break

definitions_variables_doc[index]

{'Apego_dic_SSP': [{'nominal_value': '0', 'description': 'insecure'},
  {'nominal_value': '1', 'description': 'secure'}]}

In [106]:
data_selection['Attachment'] = data_selection['Attachment'].replace(
    {1:'Secure', 0:'Insecure', np.nan:'Unknown'})
data_selection['Attachment'].value_counts()

Attachment
Secure      21
Insecure    14
Name: count, dtype: int64

- Transform data into log-scale

In [107]:
data_selection['D1_morning_log'] = np.log(data_selection['IgA D1-Morning'])
data_selection['D2_morning_log'] = np.log(data_selection['IgA D2-Morning'])
data_selection['D1_afternoon_log'] = np.log(data_selection['IgA D1-Afternoon'])
data_selection['D2_afternoon_log'] = np.log(data_selection['IgA D2-Afternoon'])

In [108]:
data_selection["sIgA_Average_Afternoon_log"] = data_selection.apply(
    lambda row: get_average_measure(row["D1_afternoon_log"], row["D2_afternoon_log"]),
    axis=1
)

data_selection["sIgA_Average_Morning_log"] = data_selection.apply(
    lambda row: get_average_measure(row["D1_morning_log"], row["D2_morning_log"]),
    axis=1
)

data_selection

,ID,Gender,age_baby_1,age_baby_2,age_baby_5,sIgA_Average_Morning,sIgA_Average_Afternoon,sIgA_Average_Difference,Attachment,IgA D1-Morning,IgA D1-Afternoon,IgA D2-Morning,IgA D2-Afternoon,D1_morning_log,D2_morning_log,D1_afternoon_log,D2_afternoon_log,sIgA_Average_Afternoon_log,sIgA_Average_Morning_log
0,1,Male,5,7.0,15.0,21.765240,28.368055,6.602815,Insecure,20.076728,31.719207,23.453752,25.016903,2.999561,3.155030,3.456922,3.219552,3.338237,3.077296
1,4,Male,10,10.0,16.0,28.473065,50.881961,22.408896,Secure,28.584920,82.400761,28.361209,19.363161,3.352879,3.345022,4.411595,2.963372,3.687484,3.348951
2,5,Female,5,NaN,14.0,161.424693,46.867951,-114.556742,Secure,161.424693,46.867951,NaN,NaN,5.084039,NaN,3.847334,NaN,3.847334,5.084039
3,7,Female,12,12.0,18.0,24.173487,35.942378,14.343241,Insecure,26.747838,NaN,21.599136,35.942378,3.286454,3.072653,NaN,3.581917,3.581917,3.179553
4,11,Male,8,9.0,NaN,78.013279,382.715268,345.590046,Insecure,118.901337,NaN,37.125222,382.715268,4.778294,3.614297,NaN,5.947291,5.947291,4.196295
5,12,Female,8,9.0,16.0,29.554870,45.078186,15.523316,Secure,24.104790,71.998771,35.004950,18.157601,3.182411,3.555489,4.276649,2.899089,3.587869,3.368950
6,14,Female,11,12.0,18.0,51.715304,43.156162,-8.559142,Secure,17.789599,55.793223,85.641010,30.519101,2.878614,4.450164,4.021652,3.418353,3.720003,3.664389
7,15,Female,12,13.0,NaN,19.116347,146.183135,127.066789,Insecure,12.355559,224.737565,25.877134,67.628706,2.514106,3.253360,5.414933,4.214033,4.814483,2.883733
8,16,Female,11,11.0,17.0,57.476955,73.891936,16.414980,Secure,79.173752,108.512940,35.780159,39.270931,4.371645,3.577394,4.686869,3.670485,4.178677,3.974519
9,17,Female,13,14.0,21.0,15.981670,28.178500,12.196830,Secure,16.305050,23.264672,15.658290,33.092328,2.791475,2.751001,3.146936,3.499301,3.323119,2.771238
10,18,Female,6,7.0,NaN,57.810302,24.501335,-33.308967,Secure,57.810302,24.501335,NaN,NaN,4.057167,NaN,3.198728,NaN,3.198728,4.057167
11,19,Female,10,11.0,20.0,42.650067,40.239442,-2.410625,Secure,71.071432,36.410862,14.228702,44.068021,4.263685,2.655261,3.594867,3.785734,3.690301,3.459473
12,20,Male,14,15.0,21.0,51.766837,68.125942,16.359105,Secure,19.740203,88.674393,83.793472,47.577491,2.982657,4.428355,4.484971,3.862360,4.173665,3.705506
13,23,Female,7,8.0,14.0,80.824884,47.632842,-33.192041,Secure,78.975857,56.250589,82.673910,39.015096,4.369142,4.414904,4.029817,3.663949,3.846883,4.392023
14,24,Female,8,10.0,15.0,56.952675,34.391461,-22.561214,Secure,52.615130,36.070181,61.290221,32.712742,3.963004,4.115620,3.585467,3.487765,3.536616,4.039312
15,25,Female,10,13.0,18.0,19.311717,24.478114,5.166397,Insecure,20.717508,26.530013,17.905927,22.426215,3.030979,2.885132,3.278277,3.110231,3.194254,2.958055
16,27,Female,9,11.0,16.0,43.637360,37.759187,-15.388331,Secure,53.147518,37.759187,34.127202,NaN,3.973071,3.530095,3.631229,NaN,3.631229,3.751583
17,29,Female,7,8.0,14.0,34.820166,23.721434,-11.098732,Secure,33.677282,33.271351,35.963050,14.171518,3.516823,3.582492,3.504697,2.651234,3.077965,3.549658
18,30,Male,9,10.0,15.0,18.895309,27.154614,8.259305,Secure,12.943673,25.069658,24.846946,29.239570,2.560607,3.212735,3.221658,3.375523,3.298591,2.886671
19,32,Male,10,11.0,16.0,32.565326,44.611069,12.045743,Secure,21.135748,58.108226,43.994904,31.113912,3.050966,3.784074,4.062307,3.437655,3.749981,3.417520
20,35,Male,7,7.0,16.0,40.406768,26.912942,-13.493826,Insecure,54.639504,25.742337,26.174031,28.083547,4.000757,3.264768,3.248137,3.335184,3.291660,3.632762
21,36,Male,7,NaN,NaN,18.906715,23.798305,4.891590,Insecure,18.494920,16.153182,19.318510,31.443428,2.917496,2.961064,2.782117,3.448190,3.115154,2.939280
22,40,Female,12,13.0,19.0,23.768337,20.813815,-2.954522,Secure,28.620961,27.048271,18.915713,14.579358,3.354139,2.939993,3.297623,2.679607,2.988615,3.147066
23,45,Male,9,9.0,17.0,19.056215,28.512881,9.456666,Secure,14.638917,33.351733,23.473513,23.674029,2.683684,3.155873,3.507110,3.164379,3.335744,2.919778
24,48,Female,9,9.0,15.0,27.240893,24.302662,-2.938231,Secure,38.324964,30.731846,16.156822,17.873478,3.646101,2.782342,3.425299,2.883318,3.154309,3.214222
25,51,Male,10,11.0,16.0,19.588779,43.228473,23.639694,Insecure,13.371379,16.557267,25.806179,69.899679,2.593117,3.250614,2.806825,4.247061,3.526943,2.921865
26,52,Male,14,15.0,21.0,29.301757,18.081376,-4.164116,Secure,22.245492,18.081376,36.358023,NaN,3.102139,3.593415,2.894882,NaN,2.894882,3.347777
27,54,Male,11,1.0,17.0,30.598015,97.723116,67.125101,Insecure,17.655089,111.050843,43.540941,84.395388,2.871024,3.773702,4.709988,4.435513,4.572750,3.322363
28,55,Female,8,9.0,NaN,20.707741,18.293268,-2.414473,Insecure,25.605318,21.336923,15.810164,15.249613,3.242800,2.760653,3.060439,2.724554,2.892497,3.001727
29,57,Male,3,4.0,NaN,101.639013,63.966516,-20.385801,Secure,NaN,46.679820,101.639013,81.253212,NaN,4.621427,3.843312,4.397570,4.120441,4.621427
30,60,Male,12,12.0,NaN,23.046024,73.899634,50.853611,Insecure,19.653971,42.597463,26.438077,105.201806,2.978279,3.274805,3.751795,4.655880,4.203838,3.126542
31,62,Female,6,6.0,15.0,22.009720,24.241804,2.232084,Insecure,30.346372,17.235275,13.673068,31.248332,3.412677,2.615428,2.846958,3.441966,3.144462,3.014053
32,63,Male,10,11.0,17.0,26.219626,20.066422,-6.153204,Insecure,24.012107,21.808747,28.427144,18.324096,3.178558,3.347344,3.082311,2.908217,2.995264,3.262951
33,65,Female,9,9.0,16.0,30.282337,25.636912,-4.645424,Insecure,32.891823,26.419370,27.672851,24.854455,3.493224,3.320452,3.274097,3.213037,3.243567,3.406838
34,66,Female,9,10.0,NaN,120.080399,105.888018,-14.192381,Secure,83.680568,35.309869,156.480231,176.466167,4.427007,5.052930,3.564163,5.173129,4.368646,4.739968

In [109]:
data_selection['sIgA_Average_Difference_log'] = data_selection['sIgA_Average_Afternoon_log'] - data_selection['sIgA_Average_Morning_log']

In [110]:
data_selection.columns

Index(['ID', 'Gender', 'age_baby_1', 'age_baby_2', 'age_baby_5',
       'sIgA_Average_Morning', 'sIgA_Average_Afternoon',
       'sIgA_Average_Difference', 'Attachment', 'IgA D1-Morning',
       'IgA D1-Afternoon', 'IgA D2-Morning', 'IgA D2-Afternoon',
       'D1_morning_log', 'D2_morning_log', 'D1_afternoon_log',
       'D2_afternoon_log', 'sIgA_Average_Afternoon_log',
       'sIgA_Average_Morning_log', 'sIgA_Average_Difference_log'],
      dtype='object')

In [111]:
data_selection = data_selection[['ID', 'Gender', 'age_baby_1', 'age_baby_2', 'age_baby_5', 'sIgA_Average_Morning', 'sIgA_Average_Afternoon',
       'sIgA_Average_Difference', 'sIgA_Average_Morning_log', 'sIgA_Average_Afternoon_log', 'sIgA_Average_Difference_log', 'Attachment',]]
data_selection.head()

,ID,Gender,age_baby_1,age_baby_2,age_baby_5,sIgA_Average_Morning,sIgA_Average_Afternoon,sIgA_Average_Difference,sIgA_Average_Morning_log,sIgA_Average_Afternoon_log,sIgA_Average_Difference_log,Attachment
0,1,Male,5,7.0,15.0,21.765240,28.368055,6.602815,3.077296,3.338237,0.260941,Insecure
1,4,Male,10,10.0,16.0,28.473065,50.881961,22.408896,3.348951,3.687484,0.338533,Secure
2,5,Female,5,NaN,14.0,161.424693,46.867951,-114.556742,5.084039,3.847334,-1.236705,Secure
3,7,Female,12,12.0,18.0,24.173487,35.942378,14.343241,3.179553,3.581917,0.402364,Insecure
4,11,Male,8,9.0,NaN,78.013279,382.715268,345.590046,4.196295,5.947291,1.750996,Insecure

In [112]:
data_selection["Gender"].value_counts()

Gender
Female    20
Male      15
Name: count, dtype: int64

- Exporting processed data

In [113]:
data_selection.to_csv("../processed_data/1_processed_data_IgA.csv", index=False)