In [1]:
import pandas as pd

In [3]:
new_pending_data = pd.read_csv("../raw_data/sIgA_data/new_information.csv")
new_pending_data

   ID  Gender Attachment Attachment_predicted
0  11    Male     Secure             Insecure
1  15  Female   Insecure             Insecure
2  18  Female     Secure               Secure
3  36    Male   Insecure             Insecure
4  55  Female   Insecure             Insecure
5  57    Male     Secure               Secure
6  60    Male     Secure             Insecure
7  66  Female     Secure               Secure

In [2]:
df_data = pd.read_csv("../raw_data/sIgA_data/raw_data.csv")
df_data.head(5)

,m1,m2,m3,m4,N°_diada,BienestarV1,BienestarV2,BienestarAv,Género_bebé,Edad_bebé_1,...,ads_a_i_pv_2,ads_m_i_pv_2_r,ads_v_i_pv_r,ads_ta_i_pv_2_r,ads_sa_i_pv_r,ads_a_i_pv_2_r,ads_p_i_pv_r,countinsecurei_2020,countsecurei_2020,ADS2i_2020
0,20.076728,31.719207,23.453752,25.016903,1,5.0,4.0,4.5,1,5,...,3.0,0.0,1.0,0.0,1.0,1.0,0.0,3,3,0
1,28.584920,82.400761,28.361209,19.363161,4,NaN,NaN,NaN,1,10,...,4.0,0.0,1.0,0.0,1.0,1.0,0.0,3,3,0
2,161.424693,46.867951,NaN,NaN,5,NaN,NaN,NaN,0,5,...,3.0,0.0,1.0,0.0,1.0,1.0,0.0,3,3,0
3,26.747838,NaN,21.599136,35.942378,7,4.0,4.0,4.0,0,12,...,3.0,0.0,1.0,0.0,0.0,1.0,0.0,4,2,0
4,118.901337,NaN,37.125222,382.715268,11,4.0,4.0,4.0,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999,999,999

In [4]:
df_data["is_missing"] = df_data["N°_diada"].isin(new_pending_data["ID"].values)
df_data["is_missing"].value_counts()

is_missing
False    27
True      8
Name: count, dtype: int64

In [ ]:
df_data[df_data[""]]