In [1]:
import pandas as pd

In [2]:
df_cortisol = pd.read_csv("../raw_data/cortisol/raw_data_measures.csv")
df_cortisol

   Sample  Cortisol (pg/mL) Attachment
0      38              4.21     Secure
1      16              3.59     Secure
2      32             22.75     Secure
3       1              5.62   Insecure
4       7              1.83   Insecure
5      39              3.07   Insecure
6       5              2.28     Secure
7      63              7.08   Insecure
8      27              2.26     Secure
9      23              4.76     Secure

In [3]:
df_cortisol.shape

(10, 3)

In [4]:
df_processed_data = pd.read_csv("../processed_data/1_processed_data.csv")
df_processed_data.head(5)

,ID,Attachment,Gender,IgA D1-Morning,IgA D1-Afternoon,IgA D2-Morning,IgA D2-Afternoon,Average IgA Morning,Average IgA Afternoon,Average Difference IgA
0,1,Insecure,Male,20.076728,31.719207,23.453752,25.016903,21.765240,28.368055,6.602815
1,4,Secure,Male,28.584920,82.400761,28.361209,19.363161,28.473065,50.881961,22.408896
2,5,Secure,Female,161.424693,46.867951,39.006348,52.728307,100.215520,49.798129,-50.417391
3,7,Insecure,Female,26.747838,47.213491,21.599136,35.942378,24.173487,41.577934,17.404447
4,11,NaN,Male,118.901337,47.213491,37.125222,382.715268,78.013279,214.964380,136.951100

In [5]:
df_cortisol.merge(right=df_processed_data, left_on="Sample", right_on="ID", how="left")

,Sample,Cortisol (pg/mL),Attachment_x,ID,Attachment_y,Gender,IgA D1-Morning,IgA D1-Afternoon,IgA D2-Morning,IgA D2-Afternoon,Average IgA Morning,Average IgA Afternoon,Average Difference IgA
0,38,4.21,Secure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16,3.59,Secure,16.0,Secure,Female,79.173752,108.512940,35.780159,39.270931,57.476955,73.891936,16.414980
2,32,22.75,Secure,32.0,Secure,Male,21.135748,58.108226,43.994904,31.113912,32.565326,44.611069,12.045743
3,1,5.62,Insecure,1.0,Insecure,Male,20.076728,31.719207,23.453752,25.016903,21.765240,28.368055,6.602815
4,7,1.83,Insecure,7.0,Insecure,Female,26.747838,47.213491,21.599136,35.942378,24.173487,41.577934,17.404447
5,39,3.07,Insecure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,2.28,Secure,5.0,Secure,Female,161.424693,46.867951,39.006348,52.728307,100.215520,49.798129,-50.417391
7,63,7.08,Insecure,63.0,Insecure,Male,24.012107,21.808747,28.427144,18.324096,26.219626,20.066422,-6.153204
8,27,2.26,Secure,27.0,Secure,Female,53.147518,37.759187,34.127202,52.728307,43.637360,45.243747,1.606387
9,23,4.76,Secure,23.0,Secure,Female,78.975857,56.250589,82.673910,39.015096,80.824884,47.632842,-33.192041

In [6]:
df_cortisol.to_csv("../processed_data/2_processed_data_cortisol.csv", index=False)